#login {
    min-height: 80vh;
    margin-bottom: 1em;
    background-color: var(--purple-pastel);
}

.loginHeading {
    text-align: center;
}

.loginCard {
    padding: 1rem;
    border-radius: 10px;
}

.btn {
    margin-right: 1rem;
}